
@orange: #ffa500;
@orange-op: rgba(255,165,0,0.5);
@brown: #271900;
@brown-op: rgba(39,25,0,0.5);
@light-brown: #524632;
@green: #336d30;




/*PRELOADER ----------------------- */
.preloader {position: fixed; left: 0; top: 0; z-index: 100000; width: 100%; height: 100%; overflow: visible; background: #271900 url('/assets/puff.svg') no-repeat center center;}
/*PRELOADER END --------------------- */



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

*::selection {
  color: #271900;
  background-color: #ffa500;
}



.wrapper {
	text-align: center;
	

	.message {
		background-color: @orange-op;
		color: @brown;
		font-family: Inconsolata;
		font-size: 22px;
		text-align: center;
		vertical-align: middle;
		min-height: 30vh;
		padding: 5vh 5vw;
		p {
			padding: 5px;
		}
	}

	.payways {
		display: block;
		position: relative;
		background-color: @brown;
		color: @orange;
		padding: 20px;
		text-align: center;
		vertical-align: middle;
		min-height: 60vh;
		@media screen and (max-width: 580px) {
			padding: 20px 10px;
		}

		.secured {
			margin: 60px 20px 40px 20px;
		}

		.payway {
			display: inline-block;
  			text-align: center;
  			vertical-align: middle;
			margin: 60px 60px 20px 60px;
			// width: 50%;
			// min-height: 20vh;
			overflow: hidden;
			@media screen and (max-width: 580px) {
				margin: 30px 10px 20px 10px;
			}
		}

		.pay-btn {
			display: inline-block;
			width: 400px;
			font-family: Inconsolata;
			font-size: 33px;
			padding: 18px 30px;
			border: 2px dashed @orange;
			border-radius: 20px;
			text-decoration: none;
			color: @orange;
			transition: all 0.3s ease;
			&:hover {
				background-color: @orange;
				color: @brown;
			} 
			&:active {
				background-color: @green;
			}
			@media screen and (max-width: 580px){
				width: 80vw;
				font-size: 26px;
			}
		}

	}




}

/*NAV -------------------------------------------------------------- */

.burger {
  position: fixed;
  z-index: 10000;
  right: 15px;
  top: 15px;
  width: 34px;
  height: 34px;
  padding: 10px 3px 6px 3px; 
  background-color: rgba(39,25,0,0.5);
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
  width: 28px;
  height: 2px;
  margin: 0 0 4px 0;
  background: #ffa500;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 4px);
          transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  z-index: 5000;
  top: 0;
  width: 100%;
  visibility: hidden;
  font-family: Inconsolata;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  /*-webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;*/
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  -webkit-box-align: left;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  margin: 0;
  padding: 0 0 0 18%;
  background: #271900;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: #524632;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  text-align: left;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  color: #ffa500;
  text-decoration: none;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover {
  text-decoration: none;
  color: #ffa500;
}

.menu__link:active {
  color: #336d30;
  text-decoration: none;
}

.menu__link--external {
    font-size: 22px;
    line-height: 1;
    -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  -webkit-transform:translate3d(0,0,0);
  }
  
.menu__link--external:hover {
  -webkit-animation: rubberBand 1s;
  -o-animation: rubberBand 1s;
  animation: rubberBand 1s;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  }

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.menu__link--external--first {
  margin-top: 20px;
} 

.menu__link--external:before {
  display: none;
}

.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 28px;
  height: 2px;
  background: #ffa500;
  /*-webkit-transform: translateX(-50%);
          transform: translateX(-50%);*/
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.menu .menu__item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.menu .menu__item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
.menu .menu__item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
.menu .menu__item:nth-child(10) {
  -webkit-transition-delay: 1.0s;
          transition-delay: 1.0s;
}
.menu .menu__item:nth-child(11) {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}
.menu .menu__item:nth-child(12) {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}
.menu .menu__item:nth-child(13) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
.menu .menu__item:nth-child(14) {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}
.menu .menu__item:nth-child(15) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.menu .menu__item:nth-child(16) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__link:before {
    width: 20px;
  }

  .menu__link--external {
    font-size: 17px;
  }

  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
    background-image: url('/assets/devmuerto-logo81.png');
  }

  .burger {
  right: 5px;
  top: 5px;
  }
}

@media screen and (max-width: 420px) {
  .menu__link {
    font-size: 17px;
  }

   .menu__link:before {
    width: 14px;
  }

  .menu__link--external {
    font-size: 10px;
}
}

nav .logo {
  width: 200px;
  height: 200px;
  background: #271900;
  background-image: url('/assets/devmuerto-logo180.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

/*NAV END -------------------------------------------------------------------- */




